@import "tailwindcss";
/* daisyUI theme config */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter, forest, pastel, lofi;
}

/* Make Tailwind scan both the example and the library sources */
@source "./**/*.{ts,tsx}";
@source "../../src/**/*.{ts,tsx}";
@source "../../shared/src/**/*.{ts,tsx}";
@source "../../renderer/src/**/*.{ts,tsx}";