@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, forest;
  }

@source "../src/**/*.{ts,tsx}";
@source "../dist/**/*.{js,jsx,ts,tsx}";
