@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, forest;
  }

@source "../node_modules/react-email-dnd/**/*.{js,jsx,ts,tsx}";
@source "../node_modules/react-email-dnd/dist/**/*.{js,jsx,ts,tsx}";